<section class="content-header">
    <h1>
        Verify Prices
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Verify Prices</li>
    </ol>
</section>

<div style="padding: 15px;">
    <div id="showloader_of_vp"><span class="loader_txt" style="display:none;">Please Wait....<br>Calculating
            Averages</span>
    </div>
    <div class="checkbox">
        <div style="padding-left: 20px;">
            <label for="btnVerifyPrices">
                <button class="btn btn-primary btn-lg no-modal col-7" type="button" id="btnVerifyPrices"
                    (click)="onVerifyPrices()">
                    <i class="fa fa-calculator"></i>&nbsp;Verify Now
                    <span class="loading-img-update" style="display: none;"></span>
                </button>
            </label>
        </div>
    </div>

    <ag-grid-angular style="width: 100%; height:800px;" class="ag-theme-alpine" [rowData]="rowData"
        [getRowId]="getRowId" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowModelType]="rowModelType"
        [rowStyle]="rowStyle" [getRowStyle]="getRowStyle" (gridReady)="onGridReady($event)" [pagination]="true"
        [paginationPageSize]="paginationPageSize" [serverSideStoreType]="serverSideStoreType"
        [cacheBlockSize]="cacheBlockSize" [animateRows]="true" [enableFillHandle]="true" [enableRangeSelection]="true"
        [fillHandleDirection]="fillHandleDirection" [undoRedoCellEditing]="true" [undoRedoCellEditingLimit]="20"
        rowSelection='multiple' [suppressMenuHide]="true"></ag-grid-angular>
</div>