 <!-- Content Header (Page header) -->
 <section class="content-header">
  <h1>
    Manage Prices
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Manage Prices</li>
  </ol>
</section>

<div style="padding: 15px;">
  <div class="checkbox">
    <label><input type="checkbox" value="chkall" (change)="getAllProducts($event)">Check All {{ chkAllCount }}</label>
  </div>  
  <ag-grid-angular
    style="width: 100%; height:800px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [getRowId]="getRowId"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowModelType]="rowModelType"
    [rowStyle]="rowStyle"
    [getRowStyle]="getRowStyle"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [serverSideStoreType]="serverSideStoreType"
    [cacheBlockSize]="cacheBlockSize"
    [animateRows]="true"
    [sideBar]="sideBar"
    (cellValueChanged)="onCellValueChanged($event)"
    [enableFillHandle]="true"
    [enableRangeSelection]="true"
    [fillHandleDirection]="fillHandleDirection"
    [undoRedoCellEditing]="true"
    [undoRedoCellEditingLimit]="20"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (dragStopped)="onDragStopped($event)"
    (cellKeyDown)="onCellKeyDown($event)"
    rowSelection='multiple'
  ></ag-grid-angular>
</div>
