<section class="content-header">
    <h1>
        Google Roas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Google Roas</li>
    </ol>
</section>
<div style="padding: 15px;">
    <div class="box box-primary collapsed-box box-solid">
        <div class="box-header with-border">
            <div>Upload Google Xlsx File</div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div>From Date</div>
                <mat-form-field>
                    <input matInput [matDatepicker]="datepicker1" placeholder="From"
                        (dateChange)="getStartDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group">
                <div>To Date</div>
                <mat-form-field>
                    <input matInput [matDatepicker]="datepicker2" placeholder="To" (dateChange)="getEndDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Upload File</label>
                <input type="file" name="googleroas" (change)="onFileSelected($event)">

                <p class="help-block">Only Xlsx File is allowed.</p>
            </div>
            <div>
                <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
                Upload Status: {{value}}%
            </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button class="btn btn-primary" (click)="onUpload()">Save</button>
        </div>

    </div>

    <ag-grid-angular style="width: 100%; height:800px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowModelType]="rowModelType" [rowStyle]="rowStyle"
        [getRowStyle]="getRowStyle" (gridReady)="onGridReady($event)" [pagination]="true"
        [paginationPageSize]="paginationPageSize" [serverSideStoreType]="serverSideStoreType"
        [cacheBlockSize]="cacheBlockSize" [animateRows]="true" [suppressMenuHide]="true"></ag-grid-angular>

</div>